{% extends 'base.html' %}
{% load custom_tags %}


{% block title %}
    Register
{% endblock %}

{% block content %}
    <form action="{% url 'register' %}" method="post">
        {% for field in form %}
            <div>
                {{ field.label }}
                {{ field|add_class:'form-control mb-5 w-50' }}
            </div>
        {% endfor %}
{#        {{ form|add_class:'form-control mb-5 w-50' }}#}
        <button>Send</button>
        {% csrf_token %}
    </form>
{% endblock %}
